section.features {
    .section-heading {
        margin-bottom: 100px;
        h2 {
            margin-top: 0;
        }
        p {
            margin-bottom: 0;
        }
    }
    .device-container,
    .feature-item {
        max-width: 325px;
        margin: 0 auto;
    }
    .device-container {
        margin-bottom: 100px;
    }
    .feature-item {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
        h3 {
            font-size: 30px;
        }
        i {
            font-size: 80px;
            display: block;
            margin-bottom: 15px;
            background: -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
            background: linear-gradient(to left, #7b4397, #dc2430);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}